/build
.idea
.gradle
.DS_Store
bin/
gen/
/gradle
gradlew
gradlew.bat
openimgur.keystore
/libraries/EventBus/build
/app
OpenImgur.iml
crashlytics.properties
/src/main/assets/crashlytics-build.properties
/src/main/res/values/com_crashlytics_export_strings.xml
