<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenny.openimgur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".classes.OpenImgurApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme_Translucent_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewActivity"
            android:theme="@style/Theme_Not_Translucent" />
        <activity
            android:name=".activities.ViewPhotoActivity"
            android:theme="@style/Theme_Not_Translucent" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/Settings_Theme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/Theme_Translucent" />
        <activity
            android:name=".activities.UploadActivity"
            android:theme="@style/Theme_Not_Translucent"
            android:label="@string/upload">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service android:name=".DownloaderService" />
        <activity
            android:name=".activities.RoutingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme_Not_Translucent">
            <!-- Profiles -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="http" />
                <data
                    android:host="imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="http" />
                <data
                    android:host="imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="https" />
                <data
                    android:host="www.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.m.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="http" />
                <data
                    android:host="m.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="http" />
                <data
                    android:host="m.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="https" />
                <data
                    android:host="www.m.imgur.com"
                    android:pathPrefix="/user/"
                    android:scheme="https" />
            </intent-filter>
            <!-- Galleries-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.imgur.com"
                    android:path="/gallery/"
                    android:scheme="http" />
                <data
                    android:host="imgur.com"
                    android:path="/gallery/"
                    android:scheme="http" />
                <data
                    android:host="imgur.com"
                    android:path="/gallery/"
                    android:scheme="https" />
                <data
                    android:host="www.imgur.com"
                    android:path="/gallery/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.m.imgur.com"
                    android:pathPrefix="/gallery/"
                    android:scheme="http" />
                <data
                    android:host="m.imgur.com"
                    android:pathPrefix="/gallery/"
                    android:scheme="http" />
                <data
                    android:host="m.imgur.com"
                    android:pathPrefix="/gallery/"
                    android:scheme="https" />
                <data
                    android:host="www.m.imgur.com"
                    android:pathPrefix="/gallery/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="CRASHLYTICS_KEY" />
    </application>

</manifest>
