<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenny.openimgur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".classes.OpenImgurApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Style_Fully_Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity
            android:name=".GalleryActivity"
            android:theme="@style/Style_Fully_Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".ViewActivity"
            android:theme="@style/Style_Not_Translucent"
            android:exported="true" />

        <activity
            android:name=".ViewPhotoActivity"
            android:theme="@style/Style_Not_Translucent" />

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Settings_Style"
            android:label="@string/action_settings" />

        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Style_Fully_Translucent" />

        <activity
            android:name=".UploadActivity"
            android:theme="@style/Style_Not_Translucent" />

        <service android:name=".DownloaderService" />
    </application>

</manifest>
